= simple_form_for [:admin, @book] do |f|
  = f.input :isbn, label: 'ISBN-13', error: 'ISBN is mandatory, please specify one.'
  = f.input :title
  = f.input :authors, label: 'Author(s)'
  = f.input :publisher
  = f.input :year, label: 'Year of publication'
  = f.input :inventory, label: 'Number of copies'
  = f.input :price
  = f.input :format, collection: %w(hardcover paperback), prompt: '(Select book format)'
  = f.input :keywords
  = f.input :subject, placeholder: 'e.g. Science, History, Romance etc'
  = f.button :submit, class: 'expanded button'
