.row
  %h1 Book List

  = link_to 'New book', new_admin_book_path, class: 'button'
  .float-right
    = paginate @books

  %table.hover
    %thead
      %tr
        %th Title
        %th ISBN
        %th Author(s)
        %th Publisher
        %th Year
        %th Inventory
        %th{colspan: "2"} Actions

    %tbody
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.isbn
          %td= book.authors
          %td= book.publisher
          %td= book.year
          %td
            = form_for book, url: admin_book_path(book), method: :patch do |f|
              = select("book", "inventory", 1..25, {selected: book.inventory}, {onchange: "this.form.submit()"})
          %td.vertical-aligned= link_to 'Show', admin_book_path(book), class: 'success button'
          %td.vertical-aligned= link_to 'Edit', edit_admin_book_path(book), class: 'warning button'

.row
  .float-right
    = paginate @books
