.row.column
  %h1 Most Popular
  %ul.tabs#stats{"data-tabs": ""}
    %li.tabs-title.is-active
      %a{"href": "#books-panel", "aria-selected": "true"} Books
    %li.tabs-title
      %a{"href": "#authors-panel"} Authors
    %li.tabs-title
      %a{"href": "#publishers-panel"} Publishers
  .tabs-content{"data-tabs-content": "stats"}
    .tabs-panel.is-active#books-panel
      .medium-5.medium-offset-7.columns
        = form_tag(stats_admin_books_path, method: :get) do
          .input-group
            %span.input-group-label Top
            = text_field_tag   :book_num,      params[:book_num] || 10, class: "input-group-field"
            = hidden_field_tag :author_num,    params[:author_num] || 10
            = hidden_field_tag :publisher_num, params[:publisher_num] || 10
            %span.input-group-label most popular book(s)
            .input-group-button
              = submit_tag "Search", class: "button"
      %table.hover
        %thead
          %tr
            %th Book Title
            %th ISBN
            %th Copies Sold
        %tbody
          - @books.each do |book|
            %tr
              %td
                = link_to admin_book_path(book) do
                  = book.title
              %td= book.isbn
              %td= book.num_of_copies
    .tabs-panel#authors-panel
      .medium-5.medium-offset-7.columns
        = form_tag(stats_admin_books_path, method: :get) do
          .input-group
            %span.input-group-label Top
            = text_field_tag   :author_num,    params[:author_num] || 10, class: "input-group-field"
            = hidden_field_tag :book_num,      params[:book_num] || 10
            = hidden_field_tag :publisher_num, params[:publisher_num] || 10
            %span.input-group-label most popular author(s)
            .input-group-button
              = submit_tag "Search", class: "button"
      %table.hover
        %thead
          %tr
            %th Authors
            %th Copies Sold
        %tbody
          - @authors.each do |author|
            %tr
              %td= author.authors
              %td= author.num_of_copies
    .tabs-panel#publishers-panel
      .medium-5.medium-offset-7.columns
        = form_tag(stats_admin_books_path, method: :get) do
          .input-group
            %span.input-group-label Top
            = text_field_tag   :publisher_num, params[:publisher_num] || 10, class: "input-group-field"
            = hidden_field_tag :book_num,      params[:book_num] || 10
            = hidden_field_tag :author_num,    params[:author_num] || 10
            %span.input-group-label most popular publisher(s)
            .input-group-button
              = submit_tag "Search", class: "button"
      %table.hover
        %thead
          %tr
            %th Publishers
            %th Copies Sold
        %tbody
          - @publishers.each do |publisher|
            %tr
              %td= publisher.publisher
              %td= publisher.num_of_copies
