.row.column
  %h1 My Review History

.row.search-sort
  .medium-3.columns.float-right
    = form_tag(opinions_path, method: :get) do
      .input-group
        %span.input-group-label Sort by
        = select_tag :sort, options_for_select(["date", "book title", "score"], params[:sort]), onchange: "this.form.submit()", class: "input-group-field"

.row.column
  %table
    %thead
      %tr
        %th Date
        %th Book
        %th Score
        %th Comment
    %tbody
      - @opinions.each do |opinion|
        %tr
          %td= opinion.created_at.strftime("%b %d, %Y")
          %td
            = link_to book_path(opinion.book) do
              = opinion.book.title
          %td= opinion.score
          %td= opinion.comment
.row
  .float-right
    = paginate @opinions
