.row
  %h1 Log In
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :username
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean, inline_label: 'Yes, remember me'
    = f.button :submit, "Log in", class: 'expanded button'
  %br
  = render "devise/shared/links"
