.row.small-up-2.medium-up-3.large-up-6
  - @books.each do |book|
    .column
      = link_to book_path(book) do
        = image_tag 'http://placehold.it/250x350', class: "thumbnail"
        %h6= book.title
        %p= "by #{book.authors}"