.row.search-sort
  = form_tag(books_path, method: :get) do
    .medium-6.columns
      %ul.menu
        %li
          = hidden_field_tag :authors,   params[:authors]
          = hidden_field_tag :publisher, params[:publisher]
          = hidden_field_tag :subject,   params[:subject]
          .input-group
            = text_field_tag :title, params[:title], placeholder: "Search Title", class: "input-group-field"
            .input-group-button
              = submit_tag "Search", class: "button"
        %li
          %a.button.success.open-modal{"data-open": "advancedSearch"} More Filters
    .medium-3.columns
      .input-group
        %span.input-group-label Sort by
        = select_tag :sort, options_for_select(["year", "review score"], params[:sort]), include_blank: true, onchange: "this.form.submit()", class: "input-group-field"

-# .orbit{"role": "region", "aria-label": "Favorite Space Pictures", "data-orbit": ""}
-#   %ul.orbit-container
-#     %button.orbit-previous{"aria-label": "previous"}
-#       %span.show-for-sr Previous Slide
-#       &#9664;
-#     %button.orbit-next{"aria-label": "next"}
-#       %span.show-for-sr Next Slide
-#       &#9654;
-#     %li.orbit-slide.is-active
-#       = image_tag "http://placehold.it/2000x750"
-#     %li.orbit-slide
-#       = image_tag "http://placehold.it/2000x750"

.row.column.text-center
  %hr
  %h2 Our Latest Books
  %hr

.row.small-up-2.medium-up-3.large-up-6
  - @books.each do |book|
    .column
      = link_to book_path(book) do
        = image_tag 'http://placehold.it/250x350', class: "thumbnail"
        %h6= book.title
        %p= "by #{book.authors}"

.row.column
  .float-right
    = paginate @books

= render "layouts/modal"
