.users-books-panel
  .row
    - @books.each do |book|
      .col-md-2
        = link_to book_path(book), class: 'thumbnail' do
          = image_tag('https://s-media-cache-ak0.pinimg.com/236x/62/01/49/6201499c8833e212a6e9ca0995e0a204.jpg')
          .thumbnail-text
            %p.center-aligned= book.title
            %p.center-aligned= "by #{book.authors}"