- unless @recommended.blank?
  .row.column
    %h3 Books you may also be interested in ...
  .row.small-up-2.medium-up-3.large-up-6
    - @recommended.each do |recom|
      .column
        = link_to book_path(recom) do
          = image_tag 'http://placehold.it/250x350', class: "thumbnail"
          %h6= recom.title
          %p= "by #{recom.authors}"
  %hr

.row
  .medium-3.columns
    = image_tag 'http://placehold.it/250x350', class: 'thumbnail'
  .medium-9.columns
    %h2= @book.title
    %table
      %tbody
        %tr
          %td.bold ISBN
          %td= @book.isbn
        %tr
          %td.bold Author(s)
          %td= @book.authors
        %tr
          %td.bold Publisher
          %td= @book.publisher
        %tr
          %td.bold Year of publication
          %td= @book.year
        %tr
          %td.bold Subject
          %td= @book.subject
        %tr
          %td.bold Format
          %td= @book.format
        %tr
          %td.bold Price
          %td= number_to_currency(@book.price)
    - if user_signed_in?
      - if @book.inventory == 0
        %h5.red This book is currently out of stock. Sorry!
      - else
        = simple_form_for @cart do |f|
          = f.input :quantity, collection: 1..@book.inventory, selected: 1
          = f.hidden_field :book_id, value: @book.id
          = f.button :submit, 'Add to Cart', class: 'large expanded button'

- unless @opinions.blank?
  %hr
  .row
    .medium-3.columns
      %h3 Reviews
    .medium-4.columns
      = form_tag(book_path(@book), method: :get) do
        .input-group
          %span.input-group-label Top
          = text_field_tag :num, params[:num], placeholder: "n", class: "input-group-field"
          %span.input-group-label most useful review(s)
          .input-group-button
            = submit_tag "Search", class: "button"
  .row.column
    - @opinions.each do |opinion|
      .media-object.stack-for-small
        .media-object-section
          = image_tag 'http://placehold.it/200x200', class: 'thumbnail'
        .media-object-section
          %h5= opinion.user.full_name
          %h6= "Score: #{opinion.score}"
          %p= opinion.comment
          .small.button-group
            = link_to "Very useful (#{opinion.ratings.where(usefulness: 2).count})", ratings_path(usefulness: 2, opinion_id: opinion.id), method: :post, class: "success hollow button"
            = link_to "Useful (#{opinion.ratings.where(usefulness: 1).count})", ratings_path(usefulness: 1, opinion_id: opinion.id), method: :post, class: "warning hollow button"
            = link_to "Useless (#{opinion.ratings.where(usefulness: 0).count})", ratings_path(usefulness: 0, opinion_id: opinion.id), method: :post, class: "alert hollow button"
  - unless params[:num].present?
    .row.column
      .float-right
        = paginate @opinions

- if user_signed_in?
  %hr
  .row.column
    %h3 My Review
    = simple_form_for @opinion do |f|
      = f.input :score, collection: 0..10, prompt: 'Select your score'
      = f.input :comment
      = f.hidden_field :book_id, value: @book.id
      = f.button :submit, class: 'expanded button'
