.row
  .medium-3.columns
    = image_tag 'http://placehold.it/250x350', class: 'thumbnail'
  .medium-9.columns
    %h2= @book.title
    %table
      %tbody
        %tr
          %td.bold ISBN
          %td= @book.isbn
        %tr
          %td.bold Author(s)
          %td= @book.authors
        %tr
          %td.bold Publisher
          %td= @book.publisher
        %tr
          %td.bold Year of publication
          %td= @book.year
        %tr
          %td.bold Subject
          %td= @book.subject
        %tr
          %td.bold Format
          %td= @book.format
        %tr
          %td.bold Price
          %td= number_to_currency(@book.price)
    - if user_signed_in?
      = form_tag add_to_cart_path, method: :put do
        = hidden_field_tag :book_id, value: @book.id
        = number_field_tag :quantity
        = submit_tag "Add to Cart", class: "button large expanded"

- unless @opinions.blank?
  .row
    %h4 Reviews
    - @opinions.each do |opinion|
      .media-object.stack-for-small
        .media-object-section
          = image_tag 'http://placehold.it/200x200', class: 'thumbnail'
        .media-object-section
          %h5= opinion.user.full_name
          %h6= "Score: #{opinion.score}"
          %p= opinion.comment
          .small.button-group
            = link_to "Very useful (#{opinion.ratings.where(usefulness: 2).count})", ratings_path(usefulness: 2, opinion_id: opinion.id), method: :post, class: "button"
            = link_to "Useful (#{opinion.ratings.where(usefulness: 1).count})", ratings_path(usefulness: 1, opinion_id: opinion.id), method: :post, class: "button"
            = link_to "Useless (#{opinion.ratings.where(usefulness: 0).count})", ratings_path(usefulness: 0, opinion_id: opinion.id), method: :post, class: "button"

- if user_signed_in?
  .row
    %h4 My Review
    = simple_form_for @opinion do |f|
      = f.input :score, collection: 0..10, prompt: '(Select a score)'
      = f.input :comment
      = f.hidden_field :book_id, value: @book.id
      = f.button :submit, class: 'expanded button'
