.users-books-panel
  .row
    .col-md-3
      = image_tag('https://s-media-cache-ak0.pinimg.com/236x/62/01/49/6201499c8833e212a6e9ca0995e0a204.jpg')
    .col-md-6
      %h2= @book.title
      %table.table.table-condensed
        %tr
          %td.bold ISBN
          %td= @book.isbn
        %tr
          %td.bold Author(s)
          %td= @book.authors
        %tr
          %td.bold Publisher
          %td= @book.publisher
        %tr
          %td.bold Year of publication
          %td= @book.year
        %tr
          %td.bold Subject
          %td= @book.subject
        %tr
          %td.bold Format
          %td= @book.format
    / .col-md-3.add-to-cart
    /   %p= number_to_currency(@book.price)
    /   = simple_form_for @cart do |f|
    /     = f.input :quantity, as: :integer, input_html: {value: '1'}
    /     = f.button :submit
        