.row.column
  %h1 My Cart
  %p= "You've selected #{current_user.cart_count} book(s)!"
  - @carts.each do |cart|
    .row{"data-equalizer": "", "data-equalize-on": "medium"}
      .medium-2.columns{"data-equalizer-watch": ""}
        = link_to book_path(cart.book) do
          = image_tag 'http://placehold.it/250x350', class: "thumbnail"
      .medium-6.columns{"data-equalizer-watch": ""}
        = link_to book_path(cart.book) do
          %h4= cart.book.title
        %p= "Unit price: #{number_to_currency(cart.book.price)}"
        = form_for cart, url: cart_path(cart), method: :patch do |f|
          = f.label :quantity
          = select("cart", "quantity", 1..cart.book.inventory, {selected: cart.quantity}, {onchange: "this.form.submit()"})
      .medium-1.column{"data-equalizer-watch": ""}
        = link_to cart_path(cart), method: :delete, data: { confirm: 'Are you sure?' } do
          %i.fi-x

  - unless @carts.blank?
    %br
    .secondary.callout.center-aligned
      %h5= "Amount payable: #{number_to_currency(@total_price)}"
    = link_to "Checkout", orders_path, method: :post, class: "large expanded button"
