.admins-books-panel
  - header "#{@book.title}"
  
  .row
    .col-md-12
      %table.table.table-striped
        %tr
          %td ISBN
          %td= @book.isbn
        %tr
          %td Author(s)
          %td= @book.authors
        %tr
          %td Publisher
          %td= @book.publisher
        %tr
          %td Year of publication
          %td= @book.year
        %tr
          %td Number of copies
          %td= @book.inventory
        %tr
          %td Price
          %td= "$ #{@book.price}"
        %tr
          %td Format
          %td= @book.format
        %tr
          %td Keywords
          %td= @book.keywords
        %tr
          %td Subject
          %td= @book.subject
  
  .row
    .col-md-4
      = link_to 'Back', admins_books_path, class: 'btn btn-default btn-block'
    .col-md-4
      = link_to 'Edit', edit_admins_book_path(@book), class: 'btn btn-warning btn-block'
    .col-md-4
      = link_to 'Delete', admins_book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block'
    