!!! 5
%html{lang: "en" }
  %head
    %meta{charset: "utf-8" }
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title B&N Bookstore

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track": true
    = csrf_meta_tag

  %body
    = render "layouts/navbar"
    = render "layouts/alerts"

    %br
    = yield
